@media (max-width: 992px) {
    .header {
        flex-wrap: wrap;
    }

    .header .logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header .logo img{
        position: relative;
        width:  150px;
    }

    .header .menu {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 ;
    }
    .header .menu ul {
        align-items: flex-start;
    }

    .header .menu ul li a{
        font-size: 15px;
    }

    .header .menu .input {
        display: flex;
        justify-content: flex-end;
        margin-bottom: -9px;
    }
    
    main .section {
        flex-wrap: wrap;
    }
    
    main .section .inicio-text {
        font-size: 20px;
        margin-bottom: 20px;
        padding: 10px;
        font-size: 18px;
    }
    
    
    main .section .container-flex {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    
    .container-flex img {
        margin: 0;
        padding: 0;
        width: 125px;
    }
}