*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    scroll-behavior: smooth;
}

header {
    max-width: 100%;
    height: 90px;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
}

.header .logo img{
    width: 300px;
    position: absolute;
    top: 0;
    z-index: 9999;
}

.header .menu {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}

.header .menu .input {
    display: flex;
    justify-content: flex-end;
}

.header .menu .input input {
    width: 178px;
    border-radius: 8px;
    height: 20px;
    border: 0px none;
    outline: none;
    padding: 10px;
    background-image: url('../imagens/loupe.png');
    background-repeat: no-repeat;
    background-position: right 5px center;
}

.header .menu nav ul {
    display: flex;
    margin-top: 10px;
}

.header .menu nav ul li{
    margin-left: 20px;
    list-style-type: none;
    font-size: 18px;
    transition: .2s;
}

.header .menu nav ul li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.header .menu nav ul li:hover {
    opacity: .5;
}

main {
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .section {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    max-width: 800px;
}

main .section .inicio-text {
    font-size: 20px;
}


main .section .container-flex {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


.container-flex img {
    margin: 0;
    padding: 0;
}

footer {
    color: white;
    display: flex;
    justify-content: center;
    background-color: brown;
    font-size: 18px;
}